asgiref==3.7.2
charset-normalizer==3.4.2
Django==3.2.25
# Pillow==9.5.0
# Pillow==9.4.0
Pillow>=10.0.0
pytz==2025.2
reportlab==4.4.2
sqlparse==0.4.4
typing_extensions==4.7.1
Django==3.2.25
gunicorn==23.0.0 # Older stable version
# gunicorn
whitenoise==6.5.0
dj_database_url==1.2.0
legacy-cgi==2.6.3
psycopg2-binary==2.9.9

